*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

h3 {
	outline: 2px #696969 solid;
}

body {
	width: 75%;
	margin: auto;
}



.method {
	margin-bottom: 50px;
	padding: 10px;
	background-color: #e6e6e6;
}

center pre {
	text-align: left;
	background-color: #333;
	overflow: auto;
	color: white;
	padding: 5px;
	margin: 10px;
}

.response {
	outline: 1px #696969 solid;
	width: 90%;
	background-color: #f2f2f2;
	margin: 10px;
	padding: 5px;
}

.response pre {
	background-color: #333;
	overflow: auto;
	white-space: nowrap;
	color: white;
}
